body {
  max-width: 800;
  text-align: center;
  margin: 20px;
  display: block;
  padding: 40px;
}
p {
  line-height: 27px;
  font-size: 18px;
}
footer {
  text-align: center;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
}
.index-paragraph {
  padding-left: 100px;
  padding-right: 100px;
}
.selection {
  background: rgb(132, 17, 127);
}
