body {
  background: rgb(132, 17, 127);
  min-height: 100vh;
  text-align: center;
  margin: 20px;
  display: block;
  padding: 40px;
}
p {
  line-height: 27px;
  font-size: 18px;
}
footer {
  text-align: center;
  margin-top: 20px;
}
.index-paragraph {
  padding-left: 100px;
  padding-right: 100px;
}
